.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  width: 100%;
  border: 1px solid var(--gray-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.header-content .left-side {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.left-side a{
    transition: background-color 0.2s ease;
}

.header-content .right-side {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.header-content .logo {
  border-right: 1px solid var(--gray-1);
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: background-color 0.2s ease;
}

.header-content a {
  border-right: 1px solid var(--gray-1);
  width: 117px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 1.35rem;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 1.375rem 1.5rem;
  color: var(--black);
}

.header-content a.second-link {
    width: 235px;
}

.header-content .right-side .social-icon {
  padding: 1.2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
    transition: background-color 0.2s ease;
}
.social-icon:hover{
    background-color: var(--purple) ;
}

.header-content .right-side .social-icon:not(:last-child) {
border-right: 1px solid var(--gray-1);
}

.header-content .right-side .social-icon:first-child {
    border-left: 1px solid var(--gray-1);
}

.left-side .logo:hover, .left-side a:hover{
  background-color: var(--purple) ;
}