.sertn-ai {
  width: 100%;

  background: transparent;
  white-space: normal;
  background: transparent;
  white-space: normal;
}
.sertn-ai::after {
  content: " ";
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.000009s infinite;
}

.sertn-ai::before {
  content: " ";
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

/* .image img, .m-right img, .feed-right img, .m-left img, .feed-main-content-item .tab img{

  background-color: #1e1e1e;
  top: 0;
  left: 0;
 

  pointer-events: none;
  z-index: 2;
  opacity: 0;
  animation: flickerImg 0.009s infinite;
  mix-blend-mode: lighten;
  filter: contrast(1.2) brightness(0.9); 
}

@keyframes flickerImg {
  0%   { opacity: 0.6; }
  5%   { opacity: 0.9; }
  10%  { opacity: 0.3; }
  15%  { opacity: 0.75; }
  20%  { opacity: 0.2; }
  25%  { opacity: 0.85; }
  30%  { opacity: 0.4; }
  35%  { opacity: 0.95; }
  40%  { opacity: 0.1; }
  45%  { opacity: 0.6; }
  50%  { opacity: 0.3; }
  55%  { opacity: 0.8; }
  60%  { opacity: 0.4; }
  65%  { opacity: 0.7; }
  70%  { opacity: 0.25; }
  75%  { opacity: 0.9; }
  80%  { opacity: 0.15; }
  85%  { opacity: 0.6; }
  90%  { opacity: 0.3; }
  95%  { opacity: 0.85; }
  100% { opacity: 0.5; }
} */
@keyframes flicker {
  0% {
    opacity: 0.06965;
  }
  5% {
    opacity: 0.08692;
  }
  10% {
    opacity: 0.05901;
  }
  15% {
    opacity: 0.22657;
  }
  20% {
    opacity: 0.04532;
  }
  25% {
    opacity: 0.20973;
  }
  30% {
    opacity: 0.16396;
  }
  35% {
    opacity: 0.16952;
  }
  40% {
    opacity: 0.0664;
  }
  45% {
    opacity: 0.21173;
  }
  50% {
    opacity: 0.24005;
  }
  55% {
    opacity: 0.02149;
  }
  60% {
    opacity: 0.05078;
  }
  65% {
    opacity: 0.17997;
  }
  70% {
    opacity: 0.13364;
  }
  75% {
    opacity: 0.09322;
  }
  80% {
    opacity: 0.17857;
  }
  85% {
    opacity: 0.17605;
  }
  90% {
    opacity: 0.17508;
  }
  95% {
    opacity: 0.09027;
  }
  100% {
    opacity: 0.06097;
  }
}

main {
  width: 100%;
}

.hero {
  width: 100%;
  position: relative;
}

.hero-content {
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4.2rem;
}

.hero-content .top {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.35fr;
  border: 0.2px solid #7e838d;
  border-top: 0;
}

.hero-content .top h1 {
  font-weight: 400;
  font-size: 10rem;
  line-height: 0.6;
  letter-spacing: -2%;
  vertical-align: middle;
  color: var(--black);
  padding: 8rem 0;
  padding-left: 2rem;
  font-weight: 400;
  font-size: 10rem;
  line-height: 120px;
  letter-spacing: -2%;
  vertical-align: middle;
  color: var(--black);
  padding: 8rem 15rem 8rem 2rem;
}

.hero-content .top .image,
.hero-content .bottom .image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content .top .image img,
.hero-content .bottom .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: cover;
}

.hero-content .bottom {
  border: 1px solid var(--gray-1);
  border-top: 0;
  display: grid;
  width: 100%;
  grid-template-columns: 0.35fr 1fr;
}
.bottom .right-content {
  width: 100%;
}
.bottom .h-bottom-text {
  text-transform: uppercase;

  font-weight: 300;
  font-size: 3.5rem;
  border-bottom: 0.2px solid var(--gray-1);
  padding: 4rem 2rem;
  text-transform: uppercase;
}
.bottom .h-bottom-code {
  padding: 7rem 2rem;
  width: 100%;
  position: relative;
}
.h-bottom-code span {
  font-weight: 400;
  font-size: 1.2rem;

  color: #7e838d;
}
.code {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}
.marquee-section {
  width: 100%;
  padding: 8rem 0;
}
.marquee-tag {
  width: 100%;
  overflow: hidden;

  border: 0.2px solid var(--gray-1);
}
.marquee-tag .tag {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  white-space: nowrap;
  color: var(--black);
  border-right: 0.2px solid var(--gray-1);

  font-weight: 400;
  font-size: 1.4rem;
}
.marquee-tag .tag a {
  text-decoration: none;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}
.marquee-tag .tag a span {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.marquee-tag .tag a span svg {
  width: 20px;
  height: 20px;
}
.gray-tag {
  background-color: #f0f0f0;
}

.marquee-tag .logo-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.marquee-tag .logo {
  width: max-content;
  padding: 2rem;
  border-right: 1px solid var(--gray-1);
}

.marquee-tag .logo img {
  filter: grayscale(100%);
  max-width: 120px;
  height: 35px;
  object-fit: contain;
}

.manifesto {
  width: 100%;
}
.manifesto-content {
  width: 100%;
  border: 1px solid var(--gray-1);
  border-bottom: none;
  height: 300vh;
}
.manifesto-head {
  width: 100%;
  display: grid;
  grid-template-columns: 427px 1fr;
}
.manifesto-head h2 {
  font-weight: 400;
  font-size: 6.4rem;
  display: inline-block;
  padding: 4rem 2rem;
  border-right: 1px solid var(--gray-1);
  letter-spacing: -5%;
  vertical-align: middle;
  color: #1e1e1e;
}
.manifesto-grid {
  width: 100%;
  display: grid;
  grid-template-columns: max-content 0.9fr 1fr;
  border-top: 1px solid var(--gray-1);
  border-bottom: 1px solid var(--gray-1);
}

.manifesto-grid .m-left,
.manifesto-grid .m-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.manifesto-grid .m-left img,
.manifesto-grid .m-right img {
  width: 100%;
  object-fit: cover;
}

.manifesto-grid .m-left img {
  height: 311px;
}

.manifesto-grid .m-right img {
  height: 100%;
}

.m-center {
  padding: 5rem 4rem 5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.m-center p {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 30px;
  letter-spacing: 0%;
  color: var(--black);
}

.manifesto-table {
  width: 100%;
  color: #333;
  overflow: hidden;
  height: 350px;
  will-change: transform;
}
.sticky-wrapper {
  position: relative;
  height: 200vh;
}

.manifesto-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4rem 5rem;
  border-bottom: 1px solid #e0e0e0;
}

.left-column {
  flex: 1;
  padding-right: 2rem;
  display: flex;
  align-items: center;
}

.item-number {
  font-size: 2rem;
  font-weight: 600;
  margin-right: 1.5rem;

  min-width: 30px;
}

.item-title {
  font-size: 1.8rem;
  font-weight: 500;

  letter-spacing: 0.5px;
}

.right-column {
  flex: 1;
  padding-left: 2rem;
  color: #666b75;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
}
.features {
  width: 100%;
  padding: 7rem 0;
}
.features-content {
  width: 100%;
  border: 1px solid var(--gray-1);
}
.features-head {
  width: 100%;
  /* border: 1px solid var(--gray-1); */
  border-right: 0;
  display: grid;
  grid-template-columns: 1fr 0.1fr 0.08fr;
}
.features-head h2 {
  font-weight: 400;
  font-size: 6.4rem;
  display: inline-block;
  padding: 4rem 0 4rem 2rem;
  border-right: 1px solid var(--gray-1);
  letter-spacing: -5%;
  vertical-align: middle;
  color: #1e1e1e;
}
.features-head .line {
  width: 100%;
  border-right: 1px solid var(--gray-1);
}
.features-main-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 19.5rem;
  border-top: 1px solid var(--gray-1);
  position: relative;
  overflow: hidden;
}
.features-main-container img {
  position: absolute;
  height: auto;
  width: 100%;
  object-fit: cover;
}
.features-main-container .accordion {
  width: 427px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  border: 1px solid var(--gray-1);
  border-bottom: none;
  position: relative;
  height: auto;
  transition: height 0.3s ease;
  overflow: hidden;
}
.features-main-container .accordion .accordion-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* position: relative; */
}
.features-main-container .accordion .accordion-item h3 {
  width: 100%;
  background-color: #1e1e1e;
  padding: 2rem;
  font-weight: 500;
  font-size: 1.84rem;
  line-height: 30px;
  letter-spacing: 5%;
  vertical-align: middle;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  cursor: pointer;
}
.features-main-container .accordion .accordion-item h3.inactive:hover,
.features-main-container .accordion .accordion-item h3.gray:hover {
  background-color: var(--purple);
  cursor: pointer;
}
.features-main-container .accordion .accordion-item h3.inactive {
  background-color: var(--white);
  color: var(--black);
  transition: background-color 0.2s ease;
  border-top: 1px solid var(--gray-1);
}
.features-main-container .accordion .accordion-item h3.gray {
  background-color: #f0f0f0;
  cursor: auto;
  transition: background-color 0.2s ease;
  transform: none !important;
  color: var(--black);
}
.features-main-container .accordion .accordion-item .content-box p {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  /* padding: 3rem 3rem 3rem 2rem;
  min-height: 317px; */
  background-color: var(--white);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 30px;
  letter-spacing: 0%;
  color: var(--black);
  /* max-height: 0; */
  box-sizing: border-box;
  overflow: hidden;
  /* transition: max-height 0.2s ease; */
  /* opacity: 0; */
}
.content-box {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;

  padding: 3rem 3rem 3rem 2rem;
  font-size: 1.55rem;
  background-color: whitesmoke;

  z-index: 2;
  height: 290px;
}

.accordion-item.link {
  position: absolute;
  bottom: 0;
}

.feed {
  width: 100%;
  position: relative;
}

.feed-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-1);
}

.feed-head {
  width: 100%;
  display: grid;
  grid-template-columns: 427px 1fr;
}

.feed-head h2 {
  font-weight: 400;
  font-size: 6.4rem;
  display: inline-block;
  padding: 4rem 0 4rem 2rem;
  border-right: 1px solid var(--gray-1);
  letter-spacing: -5%;
  vertical-align: middle;
  color: #1e1e1e;
}

.feed-main-content-item {
  width: 100%;
  display: grid;
  grid-template-columns: 427px 1fr 75px;
  border-top: 1px solid var(--gray-1);
}

.feed-main-content-item.bottom {
  grid-template-columns: 427px 0.9fr 75px;
}

.feed-main-content-item.bottom .tab,
.feed-main-content-item.bottom .info {
  padding: 2rem 1.5rem;
  transition: background-color 0.2s ease;
}

.feed-main-content-item.bottom .info h3 {
  text-align: right;
}
.feed-main-content-item.first .info:hover {
  background-color: var(--purple);
}
.feed-main-content-item.second .info:hover {
  background-color: #8cacef;
}
.feed-main-content-item.third .info:hover {
  background-color: #91cedf;
}

.wrapper-content:nth-child(1):hover {
  background-color: #8fc8a8;
}
.wrapper-content:nth-child(2):hover {
  background-color: #ca7d9e;
}
.wrapper-content:nth-child(3):hover {
  background-color: var(--purple);
}
.wrapper-content:nth-child(4):hover {
  background-color: #8cacef;
}
.wrapper-content:nth-child(5):hover {
  background-color: #91cedf;
}
.wrapper-content:nth-child(6):hover {
  background-color: #8fc8a8;
}
.feed-main-content-item .tab {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3rem 1.5rem;
  border-right: 1px solid var(--gray-1);
  cursor: pointer;
}
.tab:hover {
  background-color: var(--purple);
}

.feed-main-content-item .tab.image {
  padding: 0;
}

.feed-main-content-item .tab.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feed-main-content-item .tab h4 {
  font-weight: 400;
  font-size: 1.65rem;
  line-height: 30px;
  letter-spacing: 5%;

  vertical-align: middle;
}
/* .feed-main-content-item .tab h4 div, .info h3 div{
      transform: none !important;
    opacity: 1 !important;
} */

.feed-main-content-item .info,
.wrapper .wrapper-content {
  width: 100%;
  border-right: 1px solid var(--gray-1);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  padding: 3rem 1.5rem;
}

.feed-main-content-item .info h6,
.wrapper .wrapper-content h6 {
  font-weight: 400;
  font-size: 1.45rem;
  line-height: 30px;
  letter-spacing: -2%;
  text-align: right;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.feed-main-content-item .info h6.link,
.wrapper .wrapper-content h6.link {
  cursor: pointer;
}

.feed-main-content-item .info h6 svg,
.wrapper .wrapper-content h6 svg {
  width: 24px;
  height: 24px;
}

.feed-main-content-item .info h3,
.wrapper .wrapper-content h3 {
  font-weight: 700;
  font-size: 1.85rem;
  line-height: 30px;
  letter-spacing: 0%;
  vertical-align: middle;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.wrapper .wrapper-content:not(:first-child) {
  border-top: 1px solid var(--gray-1);
}

.feed-main-content-item .feed-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feed-main-content-item .feed-right img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.feed-info-container {
  width: 100%;
  display: grid;
  grid-template-columns: 427px 1fr 75px;
  border-top: 1px solid var(--gray-1);
}

.feed-content .feed-footer {
  width: 100%;
  display: grid;
  grid-template-columns: 427px 0.9fr 75px;
  border-top: 1px solid var(--gray-1);
}

.feed-info-container .feed-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-right: 1px solid var(--gray-1);
  overflow: hidden;
}

.feed-info-container .feed-column .feed-tab {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  padding: 3rem 1.5rem;
  border-bottom: 1px solid var(--gray-1);
}

.feed-info-container .feed-column:last-child .feed-tab {
  border: unset;
}

.feed-content .feed-footer .feed-tab {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  padding: 3rem 1.5rem;
  border-right: 1px solid var(--gray-1);
}

.feed-column .feed-tab h4,
.feed-content .feed-footer .feed-tab h4 {
  font-weight: 400;
  font-size: 1.65rem;
  line-height: 30px;
  vertical-align: middle;
  cursor: pointer;
}

.feed-column .feed-tab:hover,
.feed-column .feed-info:hover,
.feed-footer .feed-tab:hover {
  background-color: var(--purple);
}

.feed-info-container .feed-column .feed-tab.image {
  padding: 0;
}

.feed-info-container .feed-column .feed-tab img {
  width: 100%;
  height: 544px;
  object-fit: cover;
}

.feed-info-container .feed-column .feed-info,
.feed-footer .feed-info {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  padding: 3rem 1.5rem;
  border-bottom: 1px solid var(--gray-1);
}

.feed-footer .feed-info {
  border-bottom: unset;
}

.feed-column .feed-info h6 {
  font-weight: 400;
  font-size: 1.45rem;
  line-height: 30px;
  text-align: right;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.feed-column .feed-info h3,
.feed-footer .feed-info h3 {
  font-weight: 700;
  font-size: 1.85rem;
  line-height: 30px;
  vertical-align: middle;
  width: 100%;
}

.feed-footer .feed-info h3 {
  text-align: right;
}

.feed-tab.active {
  background-color: var(--black);
  color: var(--white);
}

.feed-info-container .feed-column .third-column-item {
  width: 100%;
  height: 90.8px;
  border-bottom: 1px solid var(--gray-1);
}

.feed-column .third-column-item.image {
  width: 100%;
  height: unset;
}

.feed-column .third-column-item.image img {
  width: 100%;
  height: 544px;
  object-fit: cover;
}

@media only screen and (max-width: 1240px) {
  .hero-content .top h1 {
    font-size: 7rem;
    line-height: 100%;
  }
  .bottom .h-bottom-text {
    font-size: 2.85rem;
  }
  .manifesto-head h2,
  .features-head h2,
  .feed-head h2 {
    font-size: 4.5rem;
  }
  .manifesto-grid {
    grid-template-columns: 0.2fr 1fr 1fr;
  }
  .manifesto-grid .m-left img {
    height: 100%;
  }
  .m-center p {
    font-size: 2rem;
  }
  .m-center {
    padding: 5rem 0 5rem 2rem;
  }
  .item-title {
    font-size: 1.65rem;
  }
  .left-column {
    padding-right: 0;
  }
  .manifesto-item {
    padding: 2.5rem 3.5rem;
  }
  .features-main-container {
    padding-right: 15.5rem;
  }
  .feed-head,
  .manifesto-head {
    grid-template-columns: 327px 1fr;
  }
  .feed-info-container {
    grid-template-columns: 327px 1fr 75px;
  }
  .feed-footer {
    grid-template-columns: 327px 0.9fr 75px;
  }
  .feed-info-container .feed-info h6,
  .feed-footer h6 {
    font-size: 1.35rem;
  }
  .feed-info-container .feed-info h3,
  .feed-footer h3 {
    font-size: 1.65rem;
  }
  .feed-info-container .feed-column:first-child .feed-tab,
  .feed-info-container .feed-column .third-column-item.first {
    height: 120px;
  }
  .feed-info-container .feed-column .feed-tab img {
    height: 490px;
  }
}

@media only screen and (max-width: 800px) {
  .hero-content .top {
    grid-template-columns: 1fr 1fr;
  }
  .hero-content .top h1 {
    font-size: 6rem;
    padding: 8rem 5rem 8rem 2rem;
  }
  .bottom .h-bottom-text {
    font-size: 2rem;
  }
  .bottom .h-bottom-code {
    padding: 5rem 2rem;
  }
  .manifesto-head h2,
  .features-head h2,
  .feed-head h2 {
    font-size: 3.5rem;
  }
  .features-head .line {
    display: none;
  }
  .features-head h2 {
    border: unset;
  }
  .m-center {
    padding: 5rem 2rem;
  }
  .m-center p,
  .right-column p {
    font-size: 1.65rem;
  }
  .marquee-section {
    padding: 0 0 4rem 0;
  }
  .feed-head,
  .manifesto-head {
    grid-template-columns: 210px 1fr;
  }
  .feed-info-container {
    grid-template-columns: 210px 1fr 75px;
  }
  .feed-info-container .tab {
    padding: 1rem 1.5rem;
  }
  .feed-info-container .info,
  .feed-footer .feed-info {
    padding: 1rem 1.5rem;
  }
  .feed-info-container .feed-column .third-column-item,
  .feed-info-container .feed-column:first-child .feed-tab {
    height: 120.8px;
  }
  .feed-info-container .feed-column .feed-tab img,
  .feed-column .third-column-item.image img {
    height: 724px;
  }
  .manifesto-content {
    height: 325vh;
  }
  .sticky-wrapper {
    height: 210vh;
  }
}

@media only screen and (max-width: 600px) {
  .hero-content .top {
    grid-template-columns: 1fr;
  }
  .hero-content .top .image img {
    height: 280px;
  }
  .features-main-container .accordion {
    width: 400px;
  }
  .features-main-container {
    padding-right: 9.1rem;
  }
  .features-main-container .accordion .accordion-item h3 {
    font-size: 1.65rem;
  }

  .feed-head h2,
  .manifesto-head h2,
  .features-head h2 {
    padding: 2rem 0 2rem 2rem;
  }
  .feed-info-container, .feed-content .feed-footer {
    grid-template-columns: 1fr;
  }
  .feed-info-container .feed-column .feed-info, .feed-footer .feed-info {
    flex-direction: column;
  }
  .feed-content .feed-footer .feed-tab {
    border-bottom: 1px solid var(--gray-1);
  }

  .feed-info-container .feed-column .third-column-item.first, .feed-info-container .feed-column .third-column-item.second, .feed-info-container .feed-column .third-column-item.third {
    display: none;
  }

  .feed-info-container .feed-column .third-column-item, .feed-info-container .feed-column:first-child .feed-tab {
    height: unset;
  }
  .feed-info-container .feed-column .feed-tab img {
    height: 200px;
  }

  .feed-column .third-column-item.image img {
    height: 100px;
  }

  .manifesto-grid {
    grid-template-columns: 0.15fr 1fr;
  }
  .m-right {
    grid-column: 1 / -1;
  }
  .manifesto-grid .m-left img {
    height: 270px;
  }
  .m-center {
    padding: 3rem 2rem;
  }
}

@media only screen and (max-width: 400px) {
  .hero-content .top h1 {
    font-size: 4rem;
  }
  .manifesto-grid .m-left img {
    height: 100%;
  }
  .header-content .right-side .social-icon {
    padding: 1.2rem;
  }
  .bottom .h-bottom-text {
    font-size: 1.85rem;
    padding: 2rem;
  }
  .bottom .h-bottom-code {
    padding: 2rem;
  }
  .manifesto-head h2,
  .features-head h2,
  .feed-head h2 {
    font-size: 2.5rem;
  }
  .features-main-container {
    padding-right: 6.15rem;
  }
  .marquee-tag .logo img {
    max-width: 92px;
    height: 24px;
  }
  
}
@media only screen and (max-width: 500px) {
.manifesto-item{
  flex-direction: column;
}
.manifesto-content, .sticky-wrapper{
  height:auto
}
}

@media only screen and (max-width: 768px) {
  .manifesto-table {
    height: auto;
  }
  .manifesto-item {
    padding: 2.5rem 2rem;
  }

  /* .pin-spacer{
      height: 1700px !important;
      padding: 0 !important;
} */
}
/* .pin-spacer{
      padding: 0 !important;
} */

h1{
  overflow: hidden;
}