.sertn-ai {
  width: 100%;
  overflow-x: hidden;
}

main {
  width: 100%;
}

.hero {
  width: 100%;
  position: relative;
}

.hero-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.hero-content .top {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
    border: 0.2px solid #7E838D;
  border-top: 0;
}

.hero-content .top h1 {
font-weight: 400;
font-size: 10rem;
line-height: 120px;
letter-spacing: -2%;
vertical-align: middle;
color: var(--black);
padding: 8rem 0;
padding-left: 2rem;
}

.hero-content .bottom {

  border: 1px solid var(--gray-1);
  border-top: 0;
  display: grid;
  width: 100%;
  grid-template-columns: 0.35fr 1fr;
}
.bottom .right-content{
  width: 100%;

}
.bottom .h-bottom-text{
  text-transform: uppercase;

font-weight: 300;
font-size: 3.5rem;
border-bottom: 0.2px solid var(--gray-1);
  padding: 4rem 2rem;
text-transform: uppercase;

}
.bottom .h-bottom-code{
    padding: 7rem 2rem;
    width: 100%;
    position: relative;
}
.h-bottom-code span{

font-weight: 400;
font-size: 1.2rem;

position: absolute;
    bottom: 1rem;
    right: 2rem;
color: #7E838D;

}
.marquee-section{
  width: 100%;
  padding: 8rem 0;

}
.marquee-tag{
  width: 100%;
  overflow: hidden;
  

  border: 0.2px solid var(--gray-1);

}
.marquee-tag .tag{
display: flex;
align-items: center;
padding: 1rem 2rem;
white-space: nowrap;
color: black;
  border-right: 0.2px solid var(--gray-1);


font-weight: 400;
font-size: 1.4rem;
}
.marquee-tag .tag a{
  text-decoration: none;
  color: black;
}
.marquee-tag .tag a span{
margin-left: 1.5rem;
}
.gray-tag{
  background-color: #F0F0F0;
}
.manifesto{
  width: 100%;
}
.manifesto-content{
  width: 100%;
      border: 1px solid var(--gray-1);
}
.manifesto-head{
  width: 100%;
}
.manifesto-head h2{

font-weight: 400;
font-size: 6.4rem;
    display: inline-block;
    padding: 4rem 15rem 4rem 2rem;
    border-right: 1px solid var(--gray-1);
letter-spacing: -5%;
vertical-align: middle;
color: #1E1E1E;

}
.manifesto-grid{
  width: 100%;
  display: grid;
  grid-template-columns: 0.2fr 0.9fr 1fr ;
  border-top: 1px solid var(--gray-1);
  border-bottom: 1px solid var(--gray-1);
}
.m-center{
  padding: 5rem 4rem 5rem 2rem;
display: flex;
flex-direction: column;
gap: 2rem;
font-weight: 300;
font-size: 2.2rem;
line-height: 30px;
letter-spacing: 0%;
}
.manifesto-table {
width: 100%;
    color: #333;

  }

  .manifesto-item {
    display: flex;
    flex-direction: row;
    align-items: center; 
    padding: 4rem 5rem;
    border-bottom: 1px solid #e0e0e0;
  }

  .manifesto-item:last-child {
    border-bottom: none;
  }

  .left-column {
    flex: 1;
    padding-right: 2rem;
    display: flex;
    align-items: center;
  }

  .item-number {
    font-size: 2rem;
    font-weight: 600;
    margin-right: 1.5rem;

    min-width: 30px;
  }

  .item-title {
    font-size: 1.8rem;
    font-weight: 500;

    letter-spacing: 0.5px;
  }

  .right-column {
    flex: 1;
    padding-left: 2rem;
    color:  #666B75;
font-weight: 400;
font-size: 1.8rem;
    line-height: 3rem;

  }
  .tag.marquee02{
   padding: 2rem 2rem;
  }
  .marquee02 span{
  color: #7E838D;
  }
  .features{
    width: 100%;
    padding: 7rem 0;
  }
  .features-content{
    width: 100%;
  }
  .features-head{
    width: 100%;
    border: 1px solid var(--gray-1);
    border-right: 0;
    display: grid;
    grid-template-columns: 1fr 0.1fr 0.08fr;
  }
  .features-head h2{
    font-weight: 400;
font-size: 6.4rem;
    display: inline-block;
    padding: 4rem 0 4rem 2rem;
    border-right: 1px solid var(--gray-1);
letter-spacing: -5%;
vertical-align: middle;
color: #1E1E1E;
  }
    .features-head div{
      width: 100%;
        border-right: 1px solid var(--gray-1);
    }